.great-vibes-regular {
  font-family: 'Great Vibes';
  font-weight: 400;
  font-style: italic;
}

.style-form {
  border-radius: 1rem;
  padding: 2rem;
  max-width: 90%;
  color: black;
  margin-bottom: 6rem;
  position: absolute;
  background: transparent;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-container {
  min-height: 100vh;
  display: flex;
}

.container {
  position: relative;
  background: url(./assets/brkr.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(80, 0, 80, 0.3));
  z-index: 1;
}

.container > * {
  position: relative;
  z-index: 2; /* Asegura que el contenido esté sobre el overlay */
}

.container-image {
  position: absolute;
  bottom: 0;
  left: 5em;
  width: 60vh;
}

.read-the-docs {
  color: #888;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.container-form {
  flex-basis: 30%;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (orientation: portrait) {
  .UploadPhotos__container {
    background-image: url('/background-portrait.jpg');
  }
  .body-container {
    position: relative;
    justify-content: center;
  }
  .container-form {
    position: absolute;
    width: 30vh;
    height: 80vh;
    opacity: 0.8;
    z-index: 999;
  }
  .container {
    flex-basis: 100% !important;
  }

  .container-image {
    width: 30vh;
    padding-bottom: 3vh;
    width: 70%;
  }
}

@media (orientation: landscape) {
  .UploadPhotos__container {
    background-image: url('/background-landscape.jpg');
  }
}
